body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  font-size: 562.5%;
  margin: 50px auto 0 auto;
  font-family: 'Noto Sans', sans-serif;
  color: #66BFBF;
}

h2 {
  font-size: 2.5rem;
  font-family: 'Noto Sans', sans-serif;
  color: #66BFBF;
  font-weight: normal;
}

h3 {
  font-family: 'Noto Sans', sans-serif;
  color: #11999E;
}

a {
  color: #11999E;
}

div {
  margin: 0;
}

.top-container {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}

.middle-container {

}

.bottom-container {

}

.pro {
  text-decoration: underline;
}

.bottom-cloud {
  position: absolute;
  left: 550px;
  bottom: 350px;
}

.top-cloud {
  position: absolute;
  top: 50px;
  right: 600px;
}

.headshot {
  width: 10%;
  border-radius: 50%;
  border: solid 2px;
  border-color: black;
}

.skill-img-javascript {
  width: 20%;
  float: left;
  padding-right: 30px;
}

.skill-img-git {
  width: 20%;
  background-color: white;
  float: right;
  padding-left: 30px;
}

.skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;
  line-height: 2;
}
